body {
	color: #111;
	font-family: 'Liberation Sans', 'Segoe UI', 'Roboto', sans-serif;
}
.list .list-title {
	font-size: 3em;
	font-weight: bold;
	margin: 5px 5px 0 0;
	width: 90%;
}
.list .list-description {
	width: 90%;
	margin-left: 5px;
	color: #666;
}
.list .list-entries {
	margin-top: 20px;
}
.list .list-row {
	margin: 5px;
	padding-left: 10px;
	padding-right: 5px;
	/*padding: 5px;*/
	font-size: 1.5em;
	display: inline-block;
	width: calc(100% - 20px);
	cursor: pointer;
	/*display: table-row;*/
	/*border-style: solid;
	border-width: 3px;*/
	border-radius: 5px;
}
.list .list-row.only:first-of-type {
	border-top: #272727 1px solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.list .list-row.only:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.list .list-row.only {
	padding: 5px;
	margin-top:0;
	margin-bottom: 0;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: unset;
}
.list .list-col {
	padding: 5px 0;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.list .list-col.right {
	float: right;
	box-sizing:border-box;
	/*margin-right: -5px;*/
}
.list .list-col .button {
	margin-top: -10px;
	margin-bottom: -10px;
}
.list .list-col.title {
	width: 200px;
	text-overflow: ellipsis;
}
.list .list-col.description {
	font-size: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	bottom: 0;
	vertical-align: bottom;
	width: calc(100% - 300px );
}
.actions {
	overflow: auto;
	right: 20px;
	top: 20px;
	position:absolute;
}
.button {
	margin: 8px 0;
	padding: 8px;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 1px 1px #666;
	display: inline-block;
	/*background-image: -moz-linear-gradient(#fff, #fefefe);*/
}
a.button,
button.button {
	text-decoration: inherit;
	color: inherit;
	/*background-color: unset;*/
	font-size: inherit;
	font-family: inherit;
	margin-right: 1px;
}
.button:hover {
	background-color: #eee;
}
.button-white {
	background-color: #fff;
}
.button-green {
	background-color: #0a0;
}
.list-entries .button {
	width: 16px;
	padding: 2px 8px;
}
.button-red,
.list a.button-red {
	background-color: #a00;
	color: white;
}
.list a.button-red:hover {
	background-color: #f66;
	color: black;
}
.nav-back {
	right: 20px;
	top: 20px;
	position:absolute;
}
.form input,
.form textarea {
	min-width: 512px;
	width: 50%;
}
.form textarea {
	min-height: 500px;
	padding: 8px;
}
.form input,
.form label {
	display: inline-block;
}
.form label {
	margin-top: 8px;
}

.list a,
.list button {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

.list .list-entries .list-row.unstarted {
	background-color: #aaa;
	border-color: #272727;
}
.list .list-entries .list-row.unstarted:hover {
	background-color: #bbb;
	border-color: #383838;
}
.list .list-entries .list-row.unfinished {
	background-color: #fb3;
	/*border-color: #b30;*/
	border-color: #272727;
}
.list .list-entries .list-row.unfinished:hover {
	background-color: #fb0;
	/*border-color: #b40;*/
	border-color: #383838;
}
.list .list-entries .list-row.finished {
	background-color: #0a0;
	/*border-color: #030;*/
	border-color: #272727;
}
.list .list-entries .list-row.finished:hover {
	background-color: #0b0;
	/*border-color: #040;*/
	border-color: #383838;
}
